# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local database
checklist.db

# Virtual environments
tlg_bot_env/
venv/
.venv/

# Secrets and environment variables
.env

# Large executables (FFmpeg)
ffmpeg.exe
ffplay.exe
ffprobe.exe
